.idea
.env
/wiki/database/fltshr_database_diagam.png
/wiki/database/fltshr_database_diagam_full.sql
/wiki/database/fltshr_database_diagam_full.png
/backend-fltshr.tar.gz
/proxy-fltshr.tar.gz
/frontend-fltshr.tar.gz
